section.home-gallery
	h2.main-title Thư viện hình ảnh
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.wrapper
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
			.swiper-slide
				.wrapper
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
			.swiper-slide
				.wrapper
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
			.swiper-slide
				.wrapper
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
			.swiper-slide
				.wrapper
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
					a(href="./img/home/maps_1.jpg" data-fancybox="")
						img(src="./img/home/maps_1.jpg", alt="")
		.swiper-button-prev
		.swiper-button-next
