section.home-block-4
	.container
		h2.main-title Video
		.row
			.col-lg-4.col-sm-6.pad-15
				.main-video
					figure
						.image
							.boximg
								a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=As5UrilpvxQ')
									img(src="./img/home/news_1.jpg", alt="")
							.play-btn
								img(src="./img/home/play-btn.png", alt="")
						figcaption
							h3 Ngắm tổng quan về Khu du lịch Đảo Ó ở hồ Trị An - Đồng Nai
			.col-lg-4.col-sm-6.pad-15
				.main-video
					figure
						.image
							.boximg
								a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=As5UrilpvxQ')
									img(src="./img/home/news_1.jpg", alt="")
							.play-btn
								img(src="./img/home/play-btn.png", alt="")
						figcaption
							h3 Ngắm tổng quan về Khu du lịch Đảo Ó ở hồ Trị An - Đồng Nai
			.col-lg-4.col-sm-6.pad-15
				.main-video
					figure
						.image
							.boximg
								a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=As5UrilpvxQ')
									img(src="./img/home/news_1.jpg", alt="")
							.play-btn
								img(src="./img/home/play-btn.png", alt="")
						figcaption
							h3 Ngắm tổng quan về Khu du lịch Đảo Ó ở hồ Trị An - Đồng Nai